<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ReTeach</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="../lecturerDashboardfiles/css/bootstrap.min.css" rel="stylesheet">
    <link href="../lecturerDashboardfiles/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="../lecturerDashboardfiles/css/font-awesome.css" rel="stylesheet">
    <link href="../lecturerDashboardfiles/css/style.css" rel="stylesheet">
    <link href="../lecturerDashboardfiles/css/dashboard.css" rel="stylesheet">
    <link href="../lecturerDashboardfiles/css/pages/dashboard.css" rel="stylesheet">
    <link href="../lecturerDashboardfiles/css/pages/coursesL.css" rel="stylesheet">
</head>

<body>
    <div id="coursesApp">
        <div class="navbar  navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="index.html"> ReTeach <span class="icon-book"> </span></a>
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><b
                                        style="font-size:15px;"> S.Raja</b> <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;">Profile</a></li>
                                    <li class="sign-out" v-on:click="signoutfn"><a href="javascript:;">signout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="subnavbar">
            <div class="subnavbar-inner">
                <div class="container">
                    <ul class="mainnav">
                        <li>
                            <a href="index.html"> <i class="icon-home"></i><span>Home</span> <b class="caret"></b></a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i
                                    class="icon-user"></i><span>Student Info</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="viewstudentinfo.html">View Student Info</a></li>
                                <li><a href="studentmarks.html">View Student Marks</a></li>
                                <li><a href="todaysatten.html">View Attendance</a></li>
                                <li><a href="viewparent.html">View Parent</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i
                                    class="icon-list-alt"></i><span>Attendance</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="ViewAttendance.html">View Attendance</a></li>
                                <li><a href="#">View Attendance By Date</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i
                                    class="icon-list"></i><span>Exams</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">View Exams</a></li>
                                <li><a href="#">View Exam Duty Schedule</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i
                                    class=" icon-pencil"></i><span>Marks</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">View Marks</a></li>
                                <li><a href="faq.html">View/Add Multiple Subject Marks</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i
                                    class="icon-th-list"></i><span>Subjects</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">View Subject List</a></li>
                                <li><a href="#">Add Subjects</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i
                                    class="icon-book"></i><span>Courses</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="coursesL.html">View my courses</a></li>
                                <li><a href="icons.html">Add new course</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i
                                    class="icon-envelope"></i><span>Message</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="icons.html">Icons</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /container -->
            </div>
            <div class="info">
                <div class="aboveTable">
                    <h3>Classes:</h3>
                    <button class="add-course" v-on:click="openCourseModalfn">Add new class</button>
                </div>

                <div>
                    <li class="dropdown" v-for="course in courses">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" v-bind:id="course.id"
                            v-on:click="displayCourse($event)"> <i class="icon-book"></i><span>{{course.subject}}
                                |Grade:
                                {{course.grade}} |Year:{{course.year}}</span> <b class="caret"></b></a>
                        <!-- if u want to add more than 1 item in a subject
                    <ul class="dropdown-menu"> 
                        <li v-bind:id="course.id" v-on:click="editfn($event)" ><a href="icons.html">{{course.year}}</a></li>

                    </ul> -->
                    </li>
                </div>
            </div>
        </div>


        <!-- new course request  -->
        <div class="new-course" v-bind:class="{openC}">
            <div class="modal">
                <h2>Add new course</h2>
                <form class="courseForm" v-on:submit.prevent="newCoursefn">
                    <input type="text" name="subject" placeholder="Subject" required>
                    <input type="text" name="grade" placeholder="Grade" required>
                    <input type="number" name="year" min="1900" max="2200" step="1" placeholder="Year DDDD" required />
                    <input type="text" name="semester" placeholder="Semester" required>
                    <div>
                        <button>ADD</button>
                    </div>
                    <p class="error"></p>
                </form>
            </div>
        </div>

        <!-- new lecture request  -->
        <div class="new-lecture" v-bind:class="{open}">
            <div class="modal">
                <h2>Add new lecture</h2>
                <form id="lectureForm">
                    <input type="text" name="title" placeholder="Title">
                    <input type="text" name="description" placeholder="Description">

                    <p class="error"></p>
                </form>
                <div>
                    <progress value="0" max="100" id="uploader">0%</progress>
                    <input type="file" value="upload" id="fileButton" />
                    <button id="submit-lecture" v-on:click="submitLecturefn($event)">Submit</button>
                </div>
            </div>

        </div>
        <div class="container">
            <div class="courses-board">
                <div class="aboveTable">
                    <h3>{{currentCourseName}}</h3>
                    <button class="add-lecture" v-on:click="addLecturefn">Add new lecture</button>
                </div>
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Duration</th>
                        <th>view</th>
                    </tr>
                    <tr v-for="lecture in lectures">
                        <td>{{lecture.title}}</td>
                        <td>{{lecture.dateFormat}}</td>
                        <td>{{lecture.duration}}</td>
                        <td><button>Play</button></td>
                    </tr>
                </table>
            </div>

            <video id="video_player" width="320" height="240" controls style="display: none;">
            </video>
            <div id="meta"></div>

        </div>



        <script src="../lecturerDashboardfiles/js/jquery-1.7.2.min.js"></script>
        <script src="../lecturerDashboardfiles/js/excanvas.min.js"></script>
        <script src="../lecturerDashboardfiles/js/bootstrap.js"></script>



        <!-- vue js -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>


        <!-- update the version number as needed -->
        <script src="/__/firebase/7.19.1/firebase-app.js"></script>
        <!-- include only the Firebase features as you need -->
        <script src="/__/firebase/7.19.1/firebase-auth.js"></script>
        <script src="/__/firebase/7.19.1/firebase-firestore.js"></script>
        <script src="/__/firebase/7.19.1/firebase-database.js"></script>
        <script src="/__/firebase/7.19.1/firebase-storage.js"></script>

        <!-- initialize the SDK after all desired features are loaded -->
        <script src="/__/firebase/init.js"></script>


        <script src="../lecturerDashboardfiles/js/coursesL.js"></script>
        <script src="../lecturerDashboardfiles/js/coursesLVUE.js"></script>
        <script src="../js/signout.js"></script>


        <script src="../lecturerDashboardfiles/js/base.js"></script>

    </div>
</body>

</html>